body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

.container {
    max-width: 900px;
}

.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
